* {
  box-sizing: border-box; }

body {
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8085609244) 0%, black 0%, rgba(0, 0, 0, 0.8141631653) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.startbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #fafafa;
  font-size: 12; }

.nextlevel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #fafafa;
  font-size: 12; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #fafafa;
  font-size: 12; }
  .top div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333333333%;
    height: 100%; }

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  font-size: 8px; }

.tile {
  width: 5.5555555556%;
  height: 5.5555555556%; }

.wall {
  background-image: url(../images/walltile.png);
  background-size: contain; }

.pellet {
  background-image: url(../images/dot.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center; }

.powerup {
  background-image: url(../images/dot.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; }

.ghost {
  background-color: red;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  background-image: none; }

.blinky {
  background-image: url(../images/blinky.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.pinky {
  background-image: url(../images/pinky.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.inky {
  background-image: url(../images/inky.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.clyde {
  background-image: url(../images/clyde.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.run {
  background-image: url(../images/ghost-run.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.eyes {
  background-image: url(../images/eyes.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.pacmanleft {
  background-image: url(../images/pacman.png);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.pacmanright {
  background-image: url(../images/pacman.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.pacmanup {
  background-image: url(../images/pacman.png);
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

.pacmandown {
  background-image: url(../images/pacman.png);
  transform: rotate(90deg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; }

/*# sourceMappingURL=styles.css.map */
